backend/.env
backend/.env.docker
backend/storage/
frontend/dist/
__pycache__/
*.pyc
.venv/
node_modules/
.DS_Store
storage/**
.idea/
frontend/.devcontainer/
docker_komendy.txt
venv/
backend/venv/
playwright_browsers/
backend/playwright_browsers/
/backend/playwright_browsers/